{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planlab - Editar Plano de Aula</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="cabecalho">
        <button class="botao-menu" onclick="toggleMenu()">☰</button>
        <img class="logo" src="{% static 'img/planlab_logo_branco_p.png' %}" alt="Logo Planlab">
        <div>
            <span class="botao-menu">
                <img src="{% static 'img/avatar-1.png' %}" alt="Avatar" class="avatar-menu">
            </span>
        </div>
    </header>
    
    <nav class="barra-lateral">
        <div class="perfil">
            {% if user.profile.profile_picture %}
                <img class="avatar" src="{{ user.profile.profile_picture.url }}" alt="Profile Picture">
            {% else %}
                <img class="avatar" src="{% static 'img/avatar-1.png' %}" alt="Default Profile Picture">
            {% endif %}
            <h3>{{ user.username }}</h3>  <!-- Nome do usuário dinâmico -->
        </div>
        <ul class="menu">
            <li class="menu-item">
                <img src="{% static 'img/home.png' %}" alt="Home"> Início
            </li>
            <li class="menu-item ativo">
                <a href="{% url 'pag_planos_de_aula' %}">
                    <img src="{% static 'img/Plano.png' %}" alt="Plano">Planos de Aula
                </a>
            </li>
            <li class="menu-item">
                <a href="{% url 'pag_cadernetas' %}">
                    <img src="{% static 'img/Caderneta.png' %}" alt="Cadernetas">Cadernetas
                </a>
            </li>
            <li class="menu-item">
                <form action="{% url 'logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit">
                        <img src="{% static 'img/sair.png' %}" alt="sair">Sair
                    </button>
                </form>
            </li>
        </ul>
    </nav>
    
    <main class="conteudo-principal-form">
        <div class="titulo-form">
            <h1 style="margin-bottom: 1rem; font-weight: 600; font-size: 2rem;">Editar Plano de Aula</h1>
        </div>

        <form class="formulario" method="POST" action="{% url 'form_editar_aula' plano.id %}">
            {% csrf_token %}

            <div class="grid">
                <div class="grupo-campo">
                    <label class="rotulo" for="disciplina">Disciplina</label>
                    <select class="campo" name="disciplina" id="disciplina" required>
                        <option value="">Selecione a disciplina</option>
                        {% for disciplina in form.disciplina.field.queryset %}
                            <option value="{{ disciplina.id }}" {% if disciplina.id == form.disciplina.value %}selected{% endif %}>
                                {{ disciplina.nome }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
        
                <div class="grupo-campo">
                    <label class="rotulo" for="data_aula">Data</label>
                    <input type="date" class="campo" name="data_aula" id="data_aula" value="{{ plano.data_aula|date:'Y-m-d' }}" required>
                </div>
        
                <div class="grupo-campo">
                    <label class="rotulo" for="turma">Turma</label>
                    <select class="campo" name="turma" id="turma" required>
                        <option value="">Selecione a turma</option>
                        {% for turma in form.turma.field.queryset %}
                            <option value="{{ turma.id }}" {% if turma.id == form.turma.value %}selected{% endif %}>
                                {{ turma.nome }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                
                
                <div class="grupo-campo">
                    <label class="rotulo" for="semestre">Período</label>
                    <select class="campo" name="semestre" id="semestre" required>
                        <option value="">Selecione o semestre</option>
                        {% for semestre in form.semestre.field.queryset %}
                            <option value="{{ semestre.id }}" {% if semestre.id == form.semestre.value %}selected{% endif %}>
                                {{ semestre.descricao }}
                            </option>
                        {% endfor %}
                    </select>
                </div>
                
                
                
                
                <div class="grupo-campo">
                    <label class="rotulo" for="eventos_extraordinarios">Eventos Extraordinários</label>
                    <select class="campo" name="eventos_extraordinarios" id="eventos_extraordinarios">
                        <option value="nao" {% if plano.eventos_extraordinarios == 'nao' %}selected{% endif %}>Não</option>
                        <option value="sim" {% if plano.eventos_extraordinarios == 'sim' %}selected{% endif %}>Sim</option>
                    </select>
                </div>

                <div class="grupo-campo">
                    <label class="rotulo" for="titulo">Título da Aula</label>
                    <input type="text" class="campo" name="titulo" id="titulo" value="{{ plano.titulo }}" placeholder="Digite o título da aula" required>
                </div>
            </div>
        
            <div class="grid">
                <div class="grupo-campo">
                    <label class="rotulo" for="conteudo_programatico">Conteúdo Programático</label>
                    <textarea class="campo campo-texto" name="conteudo_programatico" id="conteudo_programatico" placeholder="Descreva o conteúdo curricular" required>{{ plano.conteudo_programatico }}</textarea>
                </div>
        
                <div class="grupo-campo">
                    <label class="rotulo" for="metodologia">Metodologia</label>
                    <textarea class="campo campo-texto" name="metodologia" id="metodologia" placeholder="Descreva a metodologia" required>{{ plano.metodologia }}</textarea>
                </div>
        
                <div class="grupo-campo">
                    <label class="rotulo" for="recursos_necessarios">Recursos necessários</label>
                    <textarea class="campo campo-texto" name="recursos_necessarios" id="recursos_necessarios" placeholder="Liste os recursos necessários" required>{{ plano.recursos_necessarios }}</textarea>
                </div>

                <div class="grupo-campo">
                    <label class="rotulo" for="avaliacao_observacoes">Avaliação</label>
                    <textarea class="campo campo-texto" name="avaliacao_observacoes" id="avaliacao_observacoes" placeholder="Descreva o método de avaliação" required >{{ plano.avaliacao_observacoes }}</textarea>
                </div>

                <div class="grupo-campo">
                    <label class="rotulo" for="observacoes">Observações</label>
                    <textarea class="campo campo-texto" name="observacoes" id="observacoes" placeholder="Observações relevantes" >{{ plano.observacoes }}</textarea>
                </div>
            </div>

            <div class="container-botoes">
                <button class="botao botao-primario" type="submit">Salvar</button>
                
                <button type="button" class="botao botao-secundario" onclick="location.href='{% url 'plano' plano.id %}'">Cancelar</button>
            </div>
        </form>

        {% if form.non_field_errors %}
            <div class="alert alert-danger">
                {{ form.non_field_errors }}
            </div>
        {% endif %}
    </main>

</body>
</html>