{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planlab - Detalhes da Aula</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header class="cabecalho">
        <button class="botao-menu" onclick="alternarMenu()">☰</button>
        <img class="logo" src="{% static 'img/planlab_logo_branco_p.png' %}" alt="Logo">
        <div>
            <span class="botao-menu"><img src="{% static 'img/avatar-1.png' %}" alt="Avatar" class="avatar-menu"></span>
        </div>
    </header>
    
    <nav class="barra-lateral">
        <div class="perfil">
            <img class="avatar" src="{% static 'img/avatar-1.png' %}" alt="Logo">
            <h3>{{ user.username }}</h3>  <!-- Nome do usuário dinâmico -->
            <p>Prof. Segurança Cibernética</p>
        </div>
        <ul class="menu">
            <li class="menu-item">
                <a href="{% url 'home' %}">
                    <img src="{% static 'img/home.png' %}" alt="Home"> Início
                </a>
            </li>
            
            <li class="menu-item ativo">
                <a href="{% url 'pag_planos_de_aula' %}">
                    <img src="{% static 'img/Plano.png' %}" alt="Plano">Planos de Aula
                </a>
            </li>

            <li class="menu-item">
                <a href="{% url 'pag_cadernetas' %}">
                    <img src="{% static 'img/Caderneta.png' %}" alt="Plano">Cadernetas
                </a>
            </li>

            <li class="menu-item">
                <img src="{% static 'img/sair.png' %}" alt="sair">Sair
            </li>
        </ul>
    </nav>
    
    <main class="conteudo-principal">
        <div class="plano-aula">
            <h2 class="titulo-aula">{{ plano.titulo }}</h2>
            <div class="detalhes-aula">
                <div class="item-detalhe">
                    <span class="rotulo-detalhe">Disciplina:</span>
                    <span class="valor-detalhe">{{ plano.disciplina }}</span>
                </div>
                <div class="item-detalhe">
                    <span class="rotulo-detalhe">Turma:</span>
                    <span class="valor-detalhe">{{ plano.turma }}</span>
                </div>
                <div class="item-detalhe">
                    <span class="rotulo-detalhe">Período:</span>
                    <span class="valor-detalhe">{{ plano.semestre }}</span>
                </div>
                <div class="item-detalhe">
                    <span class="rotulo-detalhe">Eventos Extraordinários:</span>
                    <span class="valor-detalhe">{{ plano.eventos_extraordinarios }}</span>
                </div>
                <div class="item-detalhe">
                    <span class="rotulo-detalhe">Data da Aula:</span>
                    <span class="valor-detalhe">{{ plano.data_aula|date:"d/m/Y" }}</span>
                </div>
            </div>
            <div class="grade-aula">
                <div class="secao">
                    <h3 class="titulo-secao">Título da Aula:</h3>
                    <p class="conteudo-programatico">{{ plano.conteudo_programatico }}</p>
                </div>
                <div class="secao">
                    <h3 class="titulo-secao">Metodologia:</h3>
                    <p class="metodologia">{{ plano.metodologia }}</p>
                </div>
                <div class="secao">
                    <h3 class="titulo-secao">Recursos Necessários:</h3>
                    <p class="recursos-necessarios">{{ plano.recursos_necessarios }}</p>
                </div>
                <div class="secao">
                    <h3 class="titulo-secao">Avaliação:</h3>
                    <p class="avaliacao-observacoes">{{ plano.avaliacao_observacoes }}</p>
                </div>
                <div class="secao">
                    <h3 class="titulo-secao">Observações:</h3>
                    <p class="observacoes">{{ plano.observacoes }}</p>
                </div>
            </div>
        </div>
    </main>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
